__pycache__/
*.pyc
*.py[codz]
.env
.venv/
venv/
playwright/
node_modules/
.DS_Store

# Outputs generados
# Ignoramos los Excels para no saturar el repositorio
data/*.xlsx

# Conservamos el ejemplo de referencia OCOBO
!data/ejemplo_OCOBO.xlsx

# NOTA: No ignoramos los .html para que el dashboard suba a GitHub